[user]
	email = {{ .git.email }}
	name = {{ .git.name }}

[init]
	defaultBranch = main

[core]
	editor = hx
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false
	side-by-side = true
	syntax-theme=Dracula

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	df = diff
	lg = log --pretty=format:'%C(yellow)%h%C(reset) %C(blue)%an%C(reset) %s %C(green)(%cr)%C(reset)%C(red)%d%C(reset)' --all
	cp = cherry-pick
	sw = switch

[submodule]
	recurse = true

[gtr] # https://github.com/coderabbitai/git-worktree-runner#configuration-examples
[gtr.editor]
	default = agy
[gtr.ai]
	default = claude
[gtr.copy]
	include = ["CLAUDE.md", ".claude/"]
